body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

span {
    font-size: 24px;
}

button {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f6b;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}
